@font-face {
    font-family: Cooper;
    src:url(./Cooper\ Light\ BT.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cooper;
}
html,
body {
    height: 100%;
    width: 100%;
}
#main {
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav>h1{
    font-size: 31px;
    font-weight: 100;
}
#nav #part2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav #part2 a{
    text-decoration: none;
    color: #222;
    margin: 20px;
}
#nav #part2 a:nth-last-child(1){
    padding: 7px 18px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}
#nav #part2 a:nth-last-child(1) #green{
    width: 100%;
    background-color: springgreen;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    transition: left 0.4s ease;
}
#nav #part2 a:nth-last-child(1) h5{
    font-weight: 100;
    position: relative;
    z-index: 99;
}
#nav #part2 a:nth-last-child(1):hover #green{
    left: 0;
}
#main>h1{
    font-size: 5.4vw;
    width: 60%;
    text-align: center;
    position: relative;
    z-index: 99;
    font-weight: 100;
    text-transform: capitalize;
}

#main>h1::after{
    content: "";
    position: absolute;
    width: 35%;
    height: 16px;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    bottom: -5%;
    left: 50%;
    background-size: contain;
    transform: translate(-50%,0);
}
#main #img1{
    height: 570px;
    width: 350px;
    position: absolute;
    left: 13%;
    top: 20%;
}
#main #img2{
    height: 290px;
    width: 280px;
    position: absolute;
    right: 26%;
    top: 20%;
}
#main #img3{
    height: 330px;
    width: 270px;
    position: absolute;
    right: 14%;
    bottom: 8%;
}
#main img{
    transition: margin 0.4s ease;
}
#main img:hover{
    margin-top: -10px;
}